<!DOCTYPE html>

<html>
<head>
<title>SQLEditor: Report</title>
<style>
body {

font-family:sans-serif;

}

table.dataTable {

border-collapse:collapse;
}

table.dataTable th
{

background:black;
color:white;
font-weight:normal;
}

table.dataTable th, table.dataTable td {
border: 1px solid black;
padding:0.25em;
}


</style>
</head>

<div class="entry">
<h1>{{title}}</h1>
<div class="body">



{{#container.objectList}}

{{#isSQLType "SQLTable"}}
<hr>

<h2>{{fullyQualifiedName}}</h2>



<h3>Columns</h3>


<table class="dataTable">
<tr><th>Name</th><th>Type</th><th>options</th></tr>
{{#fields}}
{{#isSQLType "SQLField"}}
    <tr>

        <td>{{name}}</td>
        <td>{{type~}}</td>

        <td>
        {{~#if primaryKey}}[PK] {{/if~}}
        {{~#if isUnique}}[UNIQUE] {{/if~}}
        {{~#if notNull}}[NOT NULL] {{/if~}}
        {{~#if properties.indexed}}[INDEXED] {{/if~}}
        </td>
    </tr>

{{/isSQLType}}
{{/fields}}
</table>



<h3>Indexes</h3>

<table class="dataTable">
<tr><th>Name</th><th>Type</th><th>columns</th></tr>
{{#fields}}
{{#isSQLType "SQLIndex"}}

<tr>
<td>{{name}}</td><td> {{indexType}}</td>
<td>

{{#each fieldList}}
{{name}}{{#unless @last}},{{/unless}}
{{/each}}


</td></tr>
{{/isSQLType}}
{{/fields}}
</table>





{{/isSQLType}}

{{#isSQLType "SQLView"}}
<hr>
<h2>{{fullyQualifiedName}}</h2>
<p>This is an SQL View</p>

<p><pre>{{properties.queryString}}<pre></p>



{{/isSQLType}}


{{#isSQLType "SQLComment"}}

<hr>

<h2>{{name}}</h2>


<p>{{comment}}</p>

{{/isSQLType}}



{{/container.objectList}}


</div>
</div>

</html>